body {
    background-color: #addca2;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #573f67;
    padding: 1rem;
    margin: 1 rem;
}

header {
    text-align: center;
}

.main-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h1, h2 {
    font-size: 25px bold;
    font-weight: bolder;
    color:#155263;
}


li {
    display: block;
}

label {
    font-size: 15px;
    color: #573f67;
}

input, textarea {
    font-size: 15px;
    font-family:Arial, Helvetica, sans-serif;
    padding: 3px;
    border-radius: 3px;
    margin: 3px;
}

button[type=submit] {
    background-color:#573f67;
    color: #fafafa;
    font-size: 15px;
    border-radius: 3px;
    padding: 5px;
    margin: 12px 0;
}

#messages li {
    color:#fafafa;
}

a {
    color: #900048;
}

footer {
    background-color: #fafafa;
    font-size: 13px;
    text-align: center;
}


@media (min-width: 1625px){
    body {
      background-color: #ccb4c0;
  }
  }


@media (min-width: 305px) and (max-width: 800px) {
    body {
      background-color: rgb(221, 223, 146);

  }
  }